<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <title> Игра года</title>

</head>
<body>

    <div class="upmenu">
        <a href="/">Главная </a>
        <a href="/statistica">Статистика </a>
 </div>
    <img src="https://cdn.shopify.com/s/files/1/0083/2392/4034/files/playstation-4-header.jpg?v=1569693025" width="100%">
    <h2>Цель исследования:</h2>
    <p>Исследование посвящено поиску самой крутой игры на ps4. В битве участвуют
        "The Last of Us Part II", "Resident Evil 3" и "Assassin’s Creed Valhalla"</p>
    <p>Оценивается сюжет, графика,развитие персонажей и трудность прохождения.
    Тут можно поучаствовать в исследовании
        <a href="/opros"><button class="btn btn-info btn-lg">Опрос</button></a>
    </p>

</body>
</html>